.admin-form {
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 80px;

        .MuiTextField-root {
            margin: 10px 0;
        }

        .title {
            width: 75%;
        }

        .date {
            width: 23%;
        }
    }

    .ep-wysiwyg {
        width: 100%;
        margin: 20px 0;

        h2 {
            font-family: $font-body;
            font-size: 18px;
            background: $grey;
            color: white;
            padding: 5px 15px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        p, li, span {
            font-size: 16px;
        }
    }
}

.CodeMirror .cm-spell-error:not(.cm-url):not(.cm-comment):not(.cm-tag):not(.cm-word) {
    background: transparent !important;
}

@media screen and (max-width: 767px) {
    .admin-form {
        .container {
            .title,
            .date {
                width: 100%;
            }
        }
    }
}