.podcast-container {
    .badges-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        a {
            display: block;
            height: 45px;
            margin: 5px;

            img {
                width: auto;
                height: 100%;
            }
        }
    }

    iframe {
        border: none;
        height: 300px;
        margin: 30px 0 10px;
    }
}