@import 'node_modules/react-modal-video/scss/modal-video.scss';

.video-wrapper {
  position: relative;
  width: calc(100% / 3 - 20px);
  height: 15vw;
  max-height: 250px;
  margin: 10px;
  background-size: cover;
  background-position: center;

  button.open-video {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.2);
    border: 0;
    outline: 0;
    transition: all 0.2s ease;
    
    &:hover,
    &:focus {
      background: transparent;

      .play {
        opacity: 1;
      }
    }
  }

  .play {
    width: 50px;
    background: white;
    border-radius: 50%;
    padding: 18px 6px 18px 12px;
    opacity: 0.7;
    transition: all 0.2s ease;

    img {
      width: 25px;
    }
  }
}

@media screen and (max-width: 767px) {
  .video-wrapper {
    width: calc(50% - 20px);
    height: 23vw;
  }
}

@media screen and (max-width: 500px) {
  .video-wrapper {
    width: calc(100% - 20px);
    height: 47vw;
  }
}