.ep-desc {
    width: 60%;

    p, span, li, td {
        font-size: 16px; 
    }

    a {
        color: #337ab7;
    }

    .section-heading {
        margin-bottom: 30px;
        background: #DEE8F1;
        font-size: 24px;
        padding: 10px 10px 5px;
    }

    .transcript {
        margin-top: 60px;
    }
}

@media screen and (max-width: 767px) {
    .ep-desc {
        width: 100%;
        margin-top: 40px;
    }
}