footer {
  text-align: center;

  .container {
    padding: 15px 8%;
  }

  p {
    font-size: 12px;
    margin: 0;

    span {
      position: absolute;
      visibility: hidden;
      opacity: 0;
      height: 0;
      width: 0;
    }
  }

  img {
    height: 30px;
    vertical-align: middle;
  }
}