footer {
  background: #DEE8F1;
  text-align: center;

  .container {
    padding: 15px 8%;
  }

  p {
    font-size: 12px;
    margin: 0;
  }

  img {
    height: 30px;
    vertical-align: middle;
  }
}