.contact {
  background: #DEE8F1;
  
  h2 {
    text-align: center;
  }
}

.contact-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 40px;

  .content-wrapper {
    width: 50%;
  }

  .social-group {
    text-align: center;
  }
}

.email-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 20px;
  }

  a {
    margin-left: 10px;
    color: inherit;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: 767px) {
  .contact-wrapper {
    flex-direction: column;

    .content-wrapper {
      width: 100%;
    }
  }

  .contact {
    form {
      h3 {
        font-size: 18px;
      }
    }
  }
}