@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Lato&display=swap');

$font-title: 'Bebas Neue', cursive;
$font-body: 'Lato', sans-serif;

$grey: #3A3A3A;
$black: #1F1F1F;
$red: #CA0E02;

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-body;
  color: $black;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $font-title;
  margin: 0;
  line-height: 1.4;
}

h2 {
  font-size: 70px;
}

p,
li {
  font-size: 20px;
  line-height: 1.6;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
}

.container {
  padding: 80px 8%;
  max-width: 1400px;
  margin: auto;
}

.lazyload,
.lazyloading {
  opacity: 0;
  transform: translateY(30px);

  &.no-transform {
    transform: translateY(0);
  }
}

.lazyloaded {
  opacity: 1;
  transform: translateY(0px);
	transition: all 400ms;
}

#about,
#media,
#contact {
  outline: 0;
}

@media screen and (max-width: 767px) {
  .container {
    padding: 50px 6%;
  }

  h1,
  h2 {
    letter-spacing: -1px;
  }
  
  h2 {
    font-size: 50px;
  }
}

@import './buttons.scss';

@import '../Components/Header/header.styles.scss';
@import '../Components/Social/social.styles.scss';
@import '../Components/Banner/banner.styles.scss';
@import '../Components/About/about.styles.scss';
@import '../Components/Media/media.styles.scss';
@import '../Components/YouTube/video-list.styles.scss';
@import '../Components/YouTube/video.styles.scss';
@import '../Components/Podcast/podcast.styles.scss';
@import '../Components/Podcast-Badges/podcast-badges.styles.scss';
@import '../Components/Articles/articles-list.styles.scss';
@import '../Components/Articles/articles.styles.scss';
@import '../Components/Contact/contact.styles.scss';
@import '../Components/Form/form.styles.scss';
@import '../Components/Instagram/instagram.styles.scss';
@import '../Components/Footer/footer.styles.scss';
@import '../Components/Podcast-Banner/podcast-banner.styles.scss';
@import '../Components/Podcast-Episodes/podcast-episodes.styles.scss';
@import '../Components/Podcast-Episodes/episode-card.styles.scss';
@import '../Components/Loader/loader.styles.scss';

// Episode Page
@import '../Components/Episode/episode.styles.scss';
@import '../Components/Episode/Back/back.styles.scss';
@import '../Components/Episode/Title/title.styles.scss';
@import '../Components/Episode/Media/media.styles.scss';
@import '../Components/Episode/Description/description.styles.scss';

// Admin
@import '../Components/Admin/Login/login.styles.scss';
@import '../Components/Admin/Header/admin-header.styles.scss';
@import '../Components/Admin/Form/admin-form.styles.scss';
@import '../Components/Admin/Episode-Item/episode-item.styles.scss';